<main>
  <div style="width: 100%; height: 100vh; display: flex">
    <div class="side-bar">
      <div class="menu-list-wrapper">
        <a routerLink="/" [ngClass]="{ 'active-link': isHomePage }" class="menu"
          >Home</a
        >

        <a routerLink="crud-page" [ngClass]="{ 'active-link': !isHomePage }"
          >CRUD Page</a
        >
      </div>
    </div>
    <div class="wrapper-layout">
      <Header>
        <p>MicroFrontends</p>
      </Header>
      <div style="overflow-y: scroll" class="content-wrapper">
        <router-outlet></router-outlet>
      </div>
      <Footer>
        <p>Created with 🧡 By Jefri Kurniawan Waruwu</p>
      </Footer>
    </div>
  </div>
</main>
